---
import "../../css/contentCommon.css";
import GamesSidebar from "../../components/GamesSidebar.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export const header = "Dance Battle"
---

<BaseLayout title="Lenny Siol" header={header} subHeader="Dance Your Way To The Top!">
  <div class="row">
    <GamesSidebar />
    <div class="main">
      <div class="row">
        <iframe width="1600" height="900" src="https://www.youtube-nocookie.com/embed/VXSMHxbKRnQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>  
      <div class="row">
        <img src="/games/danceBattle/dancebattleposter.jpg" width="350" height="496" alt="Poster">
        <div>
          <p>
            "Dance Battle - Dance your way to the top" is a 2D RPG where you dance to defeat your enemies.
            The game is fully controllable with a dance mat, making for a unique experience.
          </p>
          <p>The game was created as part of the GameLab 1 project at the Julius-Maximilian-University of Würzburg</p>
          <p>Using: Unity, C#</p>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
