---
import "../css/contentCommon.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lenny Siol" header="Lenny Siol" subHeader="Games Engineer">
  <div class="row">
    <div class="main">
      <div class="ComputerBuildingGame">
        <h2>Here you can find a selection of my Blender renders.</h2>
        <a href="https://www.behance.net/lennysiol" target="_blank">More</a>
        <h1>Geometry Nodes</h1>
        <img src="images/Renders/hills3.png"  alt="Poster">
        <img src="images/Renders/Another Grass.png"  alt="Poster">
        <img src="images/Renders/geo.png"  alt="Poster">

        <h1>Scenery</h1>
        <img src="images/Renders/3.png"  alt="Poster">
        <img src="images/Renders/BallThing.png"  alt="Poster">
        <img src="images/Renders/horns4.png"  alt="Poster">
        <img src="images/Renders/SpaceBall.png"  alt="Poster">
        <img src="images/Renders/Sword in the woods7.png"  alt="Poster">
        <img src="images/Renders/Mountain.jpg"  alt="Poster">

        <h1>Computer Building Game</h1>
        <img src="images/Renders/ComputerBuilding/GPU_7.jpg"  alt="Poster">
        <img src="images/Renders/ComputerBuilding/GTX_2.png"  alt="Poster">
        <img src="images/Renders/ComputerBuilding/Cooler.png"  alt="Poster">
        <img src="images/Renders/ComputerBuilding/Family_2.png"  alt="Poster">
        <img src="images/Renders/ComputerBuilding/Cute_Room.png"  alt="Poster">

        <h1>Other</h1>
        <img src="images/Renders/Donut2.png"  alt="Poster">
        <img src="images/Renders/Factory.png"  alt="Poster">
        <img src="images/Renders/Factory2.png"  alt="Poster">

        <h1>Procedural Shaders</h1>
        <img src="images/Renders/Cheesepot.png"  alt="Poster">
        <img src="images/Renders/Eyebowl.png"  alt="Poster">
      </div>
    </div>
  </div>
</BaseLayout>
