<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Lenny Siol</title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="style.css">
        </head>
        <body>
            <div class="header">
                <h1>Contact</h1>
            </div>
            <div class="navbar">
                <a href="index.html">Home</a>
                <a href="games.html">Games</a>
                <a href="scientific.html">Scientific Work</a>
                <a href="3dmodel.html">3D Modeling</a>
                <a href="work.html">Work Experience</a>
                <a href="walkabout.html">ThreeJs Walkabout</a>
                <a href="Contact.html" class="right">Contact</a>
            </div>
            <div class="row">
                <div class="main">
                    <ul>
                        <li>Email:  lennysioll@gmail.com</li>
                        <li>Tel:    +49 178 5285278</li>
                        <li><a href="https://www.linkedin.com/in/lenny-siol-340791249/" target="_blank">LinkedIn</a> </li>
                        <li><a href="https://www.behance.net/lennysiol" target="_blank">Behance</a> </li>
                        <li><a href="https://www.informatik.uni-wuerzburg.de/mi/staff/lenny-siol/" target="_blank">Universität Würzburg</a> </li>
                        <li><a href="https://www.youtube.com/channel/UCM6eh3FeJcE-ptjQeMp_BOg" target="_blank">YouTube</a> </li>
                    </ul>  
                </div>
            </div>
            <div class="footer">
            </div>
        </body>
</html>