---
import "@css/contentCommon.css";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Lenny Siol" header="Contact">
  <div class="row">
    <div class="main">
      <ul>
        <li>Email:  lennysioll@gmail.com</li>
        <li>Tel:    +49 178 5285278</li>
        <li><a href="https://drive.google.com/file/d/1ACmAp2LqMuuWCoAUftFoTEXs-hI2XHN0/view?usp=sharing" target="_blank">CVW</a></li>
        <li><a href="https://www.linkedin.com/in/lenny-siol-340791249/" target="_blank">LinkedIn</a> </li>
        <li><a href="https://www.behance.net/lennysiol" target="_blank">Behance</a> </li>
        <li><a href="https://www.informatik.uni-wuerzburg.de/mi/staff/lenny-siol/" target="_blank">Universität Würzburg</a> </li>
        <li><a href="https://www.youtube.com/channel/UCM6eh3FeJcE-ptjQeMp_BOg" target="_blank">YouTube</a> </li>
      </ul>
    </div>
  </div>
</BaseLayout>
