---
import "../css/contentCommon.css";
import GamesSidebar from "../components/GamesSidebar.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lenny Siol" header="Games" subHeader="And Game Related Software">
  <div class="row">
    <GamesSidebar />
    <div class="main">
      <img src="games/littleLightEngine/gl-poster.png" width="525" height="750" alt="Vampire Background">
      <img src="games/narRobot/NarRobot.png" width="525" height="750" alt="Vampire Background">
      <img src="games/danceBattle/dancebattleposter.jpg" width="525" height="750" alt="Vampire Background">
    </div>
  </div>
</BaseLayout>
