---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lenny Siol" header="Games" subHeader="And Game Related Software">
  <div class="row">
    <div class="sideBarContainer">
      <div class="sideBar">
        <a href="games/LittleLightEngine.html">Little Light Engine</a>
        <a href="games/NarRobot.html">NarRobot</a>
        <a href="games/DanceBattle.html">Dance Battle</a>
        <a href="games/BlueDeath.html">Blue Death Wet-Temption</a>
      </div>
    </div>
    <div class="main">
      <img src="games/littleLightEngine/gl-poster.png" width="525" height="750" alt="Vampire Background">
      <img src="games/narRobot/NarRobot.png" width="525" height="750" alt="Vampire Background">
      <img src="games/danceBattle/dancebattleposter.jpg" width="525" height="750" alt="Vampire Background">
    </div>
  </div>
</BaseLayout>
