---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div style="display: flex; justify-content: center;">
        <div>
            <p>Lenny Siol</p>
            <p>Matterstockstraße 34</p>
            <p>97080 Würzburg</p>
            <p>Deutschland</p>
            <p>lennysioll@gmail.com</p>
        </div>
    </div>
</BaseLayout>