---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <div style="display: flex; justify-content: center;">
        <div>
            <h1>Impressum</h1> 
            <p>Angaben gemäß § 5 DDG</p> 
            <p>Lenny Siol<br> 
            <br>Matterstockstraße 34
            <br>97080 Würzburg <br> 
                </p> 
                <p> <strong>Vertreten durch: </strong><br>
                Lenny Siol<br>
                </p> 
                <p><strong>Kontakt:</strong> <br>
                Telefon: +49-1785285278<br>
                E-Mail: <a>lennysioll@gmail.com</a></br></p> 
                <p><strong>Verantwortlich für den Inhalt nach § 18 Abs. 2 MStV:</strong><br>
                Lenny Siol <br> 
                Matterstockstraße 34<br> 
                97080 Würzburg <br></p> 
                <p><strong>Verbraucherstreitbeilegung / Universalschlichtungsstelle</strong>
                <br>Wir nehmen nicht an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teil und sind dazu auch nicht verpflichtet.
                </p> 
                <p>Erstellt mit dem <a href="https://impressum-generator.de" rel="dofollow">Impressum-Generator</a> von WebsiteWissen.com, dem Ratgeber für <a href="https://websitewissen.com/website-erstellen" rel="dofollow">Website-Erstellung</a>, <a href="https://websitewissen.com/homepage-baukasten-vergleich" rel="dofollow">Homepage-Baukästen</a> und <a href="https://websitewissen.com/shopsysteme-vergleich" rel="dofollow">Shopsysteme</a>. Rechtstext von der <a href="https://www.kanzlei-hasselbach.de/" rel="dofollow">Kanzlei Hasselbach</a>. 
                </p>
        </div>
    </div>
</BaseLayout>