---
import "@css/contentCommon.css";
import BaseLayout from "@layouts/BaseLayout.astro";
import Rating from "@components/Rating.astro";
import { Image } from "@astrojs/image/components";

import { pictureOfMe } from "@scripts/build/imageImports";
---

<script src="@scripts/site/boids/boidApp.js" />

<BaseLayout title="Lenny Siol Portfolio" header="Lenny Siol" subHeader="Games Engineer">
  <div class="row">
    <div class="side">
      <Image src={pictureOfMe} width={414} alt="Picture of Lenny Siol" />
      <p> 
        Hi I'm Lenny! I'm an Games Engineering student at the Julius-Maximilians-University of Würzburg.
        I'm about to finish my Games Engineering bachelor and start my masters in Computer Science.

        I like to play and develop games, here's a quick overview of my skills:

        <h4>Programming Languages</h4>
        <ul class="rating-list">
          <li>C# <Rating of={8} outOf={10} /></li>
          <li>C++ <Rating of={7} outOf={10} /></li>
          <li>Java <Rating of={4} outOf={10} /></li>
          <li>Python <Rating of={5} outOf={10} /></li>
        </ul>  
        <h4>Applications</h4>
        <ul class="rating-list">
          <li>Unity <Rating of={8} outOf={10} /></li>
          <li>Godot <Rating of={4} outOf={10} /></li>
          <li>Unreal Engine <Rating of={2} outOf={10} /></li>
          <li>Blender <Rating of={6} outOf={10} /></li>
        </ul>           
        <h4>Languages</h4>
        <ul>
          <li>German: Native</li>
          <li>English: C1</li>
          <li>Turkish: A1.1</li>
        </ul>  
      </p>
    </div>
    <div class="main">
      <canvas class="webgl" id="threeCanvas" width="10" height="10"></canvas>
      <p>
        Here you can watch some boids exploring the universe. 
        Use the left mouse button to turn the camera and the right mouse button to move the camera.
        For more ThreeJs check out the Walkabout
      </p>
    </div>
  </div>

  <p slot="footer">Skybox provided by <a href="https://de.cleanpng.com/png-5qn8dm">CLEANPNG</a></p>
</BaseLayout>

<style>
  /*
  Create two unequal columns that sits next to each other
  Sidebar/left column
  */
  .side {
    flex: 20%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }

  .rating-list {
    padding-right: 40px;
    max-width: 444px;
  }
  .rating-list > li {
    display: flex;
    justify-content: space-between;
  }
</style>