---
import "../css/contentCommon.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lenny Siol Portfolio" header="Lenny Siol" subHeader="Games Engineer">
  <script slot="head" type="module" src="threejs.js" defer></script>

  <div class="row">
    <div class="side">
      <img src="images/pictureOfMe.jpeg"  alt="Poster">
      <p> 
        Hi I'm Lenny! I'm an Games Engineering student at the Julius-Maximilians-University of Würzburg.
        I'm about to finish my Games Engineering bachelor and start my masters in Computer Science.

        I like to play and develop games, here's a quick overview of my skills:

        <h4>Programming Languages</h4>
        <ul>
          <li>C# &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster">  <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
          <li>C++ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster">  <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
          <li>Java &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster">  <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
          <li>Python &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster">  <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
        </ul>  
        <h4>Applications</h4>
        <ul>
          <li>Unity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster">  <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
          <li>Godot &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster">  <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
          <li>Unreal Engine &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster">  <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
          <li>Blender &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_full.png" width="15" height="18" alt="Poster">  <img src="images/star_full.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"> <img src="images/star_empty.png" width="15" height="18" alt="Poster"></li>
        </ul>           
        <h4>Languages</h4>
        <ul>
          <li>German: Native</li>
          <li>English: C1</li>
          <li>Turkish: A1.1</li>
        </ul>  
      </p>
    </div>
    <div class="main">
      <canvas class="webgl" id="threeCanvas" width="10" height="10"></canvas>
      <p>
        Here you can watch some boids exploring the universe. 
        Use the left mouse button to turn the camera and the right mouse button to move the camera.
        For more ThreeJs check out the Walkabout
      </p>
    </div>
  </div>

  <p slot="footer">Skybox provided by <a href="https://de.cleanpng.com/png-5qn8dm">CLEANPNG</a></p>
</BaseLayout>

<style>
  /*
  Create two unequal columns that sits next to each other
  Sidebar/left column
  */
  .side {
    flex: 20%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
  }
</style>