---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import heroImageDark from "../images/option2.jpg";
import heroImageLight from "../images/option2.jpg";
import FeaturedArticles from "../components/articles/FeaturedArticles.astro";
import Projects from "../components/Projects.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
import ThreeScene from "../components/ThreeScene.jsx";

import "../contentCommon.css";
---

<BaseLayout>
	<!-- Hero section -->
	<div class="mx-auto lg:max-w-4xl mt-40 mb-20">
		<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-16">
			<div>
				<h1
					class="text-3xl sm:text-5xl font-bold tracking-tight text-balance"
				>
					Games & Robots
				</h1>
				<div class="mt-8 leading-8">
					<p>
						Hi I'm Lenny, a (soon to be) computer science masters graduate with an interest in games and robotics.   
					</p>
				</div>
			</div>

			<div class="order-first lg:order-last flex-shrink-0 mb-8">

				<Image
					src={heroImageLight}
					alt="That me :)"
					class="block dark:hidden  rounded-full  size-20 lg:size-[350px] object-cover ring-1 ring-slate-400/30 shadow"
				/>
				<Image
					src={heroImageDark}
					alt="That me :)"
					class="hidden dark:block rounded-full size-20 lg:size-[350px] object-cover ring-1 ring-slate-400/30 shadow"
				/>
			</div>
		</div>
	</div>

	<div class="mx-auto lg:max-w-4xl my-16 sm:my-30">
		<h2 class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20">
			Boid Simulation
		</h2>
		<ThreeScene client:load/>
		<p>Here you can see a <u><a href="https://en.wikipedia.org/wiki/Boids">Boid</a></u>
		simulation using ThreeJS. Each agent acts based on its local percepts. You can change their behavior using the controls. You can also move the camera by tapping and scrolling around the planet.</p>
	</div>

	<!-- Featured articles -->
	<div class="mx-auto lg:max-w-4xl my-16 sm:my-30">
		<h2
			class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"
		>
			Featured Projects
		</h2>
		<FeaturedArticles />
		<br>
		<br>
		<h4 class="text-2xl sm:text-4xl font-bold tracking-tight mb-10 sm:mb-20"><a href="/projects"><u>More Projects</u></a></h4>
	</div>
</BaseLayout>
