---
import { Image } from "@astrojs/image/components";
import "@css/contentCommon.css";
import BaseLayout from "@layouts/BaseLayout.astro";

import { pepper, pepperTalking, pepperTurningHead, pepperWithMe, thesis1, thesis2, thesis3, thesis4, thesis5, thesis6, thesis7, thesis8, thesis9, thesis10, thesis11, thesis12, thesis13, thesis14, thesis15, thesis16, thesis17, thesis18, thesis19, thesis20, thesis21, thesis22, thesis23, thesis24, thesis25 } from "@scripts/build/imageImports";
---

<BaseLayout title="Lenny Siol" header="Lenny Siol" subHeader="Games Engineer">
  <div class="row">
    <div class="main">

      <p>
        <a href="https://dl.acm.org/doi/abs/10.1145/3568294.3580044">NarRobot</a>
      </p>
      <p>
        <a href="https://drive.google.com/file/d/1QlXogF2FJavqQ1pXtnuXFdnBQkaFntty/view?usp=drive_link">Bachelor Thesis</a>
      </p>

      <h2>Julius-Maximilians-Universität Würzburg</h2>
      <p>
        As part of my work at the University of Würzburg I'm working on PePUT, 
        the Pepper-Python-Unity Toolkit. PePUT is an application that allows the user
        to easily connect any amount of Pepper robots to a Unity application. Pepper can then
        be controlled and tracked over Unity, allowing the user to integrate Pepper into games 
        and other interactive applications. PePUT is currently still in development but due to 
        release soon, allowing other universities to conduct research with Pepper more easily.
      </p>

      <div class="row">
        <Image src={pepper} width={750} height={1000} alt="The robot Pepper" />
        <Image src={pepperWithMe} width={750} height={1000} alt="Me in front of the robot Pepper" />
        <div>
          <video width="640" height="480" controls>
            <source src={pepperTalking} type="video/ogg">
          </video>
          <video width="640" height="480" controls>
            <source src={pepperTurningHead} type="video/ogg">
          </video>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
