---
import "@css/contentCommon.css";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout title="Lenny Siol" header="Lenny Siol" subHeader="Games Engineer">
  <div class="row">
    <div class="main">
      <h2>Julius-Maximilians-Universität Würzburg</h2>
      <p>
        As part of my work at the University of Würzburg I'm working on PePUT, 
        the Pepper-Python-Unity Toolkit. PePUT is an application that allows the user
        to easily connect any amount of Pepper robots to a Unity application. Pepper can then
        be controlled and tracked over Unity, allowing the user to integrate Pepper into games 
        and other interactive applications. PePUT is currently still in development but due to 
        release soon, allowing other universities to conduct research with Pepper more easily.
      </p>

      <div class="row">
        <img src="work/WhatsApp Image 2023-02-09 at 19.39.04.jpeg" width="750" height="1000" alt="Poster">
        <img src="work/WhatsApp Image 2023-02-09 at 19.39.12.jpeg"  width="600" height="1000"alt="Poster">
        <div>
          <video width="640" height="480" controls>
            <source src="work/WhatsApp Video 2023-02-09 at 19.39.12.mp4" type="video/ogg">
          </video>
          <video width="640" height="480" controls>
            <source src="work/WhatsApp Video 2023-02-09 at 19.39.19.mp4" type="video/ogg">
          </video>
        </div>
      </div>
      <h2>Bachelor Thesis</h2>
      <p>
        For my bachelor thesis I'm using marching cubes to create organically growing towers. 
        These towers are then integrated into an already exisitng tower defense game. The thesis 
        isn't finished yet but will be by the end of March.
      </p>
      <img src="work/1.PNG" alt="Poster">
      <img src="work/2.PNG" alt="Poster">
      <img src="work/3.PNG" alt="Poster">
      <img src="work/4.PNG" alt="Poster">
      <img src="work/5.PNG" alt="Poster">
      <img src="work/6.PNG" alt="Poster">
      <img src="work/7.PNG" alt="Poster">
      <img src="work/8.PNG" alt="Poster">
      <img src="work/9.PNG" alt="Poster">
      <img src="work/10.PNG" alt="Poster">
      <img src="work/11.PNG" alt="Poster">
      <img src="work/12.PNG" alt="Poster">
      <img src="work/13.PNG" alt="Poster">
      <img src="work/14.PNG" alt="Poster">
      <img src="work/15.PNG" alt="Poster">
      <img src="work/16.PNG" alt="Poster">
      <img src="work/17.PNG" alt="Poster">
      <img src="work/18.PNG" alt="Poster">
      <img src="work/19.PNG" alt="Poster">
      <img src="work/20.PNG" alt="Poster">
      <img src="work/21.PNG" alt="Poster">
      <img src="work/22.PNG" alt="Poster">
      <img src="work/23.PNG" alt="Poster">
      <img src="work/24.PNG" alt="Poster">
      <img src="work/25.PNG" alt="Poster">
    </div>
  </div>
</BaseLayout>
