<div class="sideBarContainer">
  <div class="sideBar">
    <a href="/games/LittleLightEngine.html">Little Light Engine</a>
    <a href="/games/NarRobot.html">NarRobot</a>
    <a href="/games/DanceBattle.html">Dance Battle</a>
    <a href="/games/BlueDeath.html">Blue Death Wet-Temption</a>
  </div>
</div>