<div class="sideBarContainer">
  <div class="sideBar">
    <a href="/games/little-light-engine">Little Light Engine</a>
    <a href="/games/nar-robot">NarRobot</a>
    <a href="/games/dance-battle">Dance Battle</a>
    <a href="/games/blue-death">Blue Death Wet-Temption</a>
  </div>
</div>

<style>
  .sideBarContainer{
    padding-top: 25px;
  }
  
  /* Style the left game sidebar */
  .sideBar {
    overflow: hidden; /* Hide overflow */
    background-color: rgb(80, 80, 80); /* Dark background color */
    flex: 30%;
  }

  /* Style the navigation bar links */
  .sideBar a {
    float: up; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: left; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }

  /* Change color on hover/mouse-over */
  .sideBar a:hover {
    background-color: #ddd; /* Grey background color */
    color: black; /* Black text color */
  }
</style>