---
type Props = {
  title: string,
  header: string,
  subHeader?: string
}
const { title, header, subHeader = "" } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <slot name="head" />
  </head>
  <body>
    <div class="header">
      <h1>{header}</h1>
      <p>{subHeader}</p>
    </div>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/games">Games</a>
      <a href="/scientific">Scientific Work</a>
      <a href="/3d-model">3D Modeling</a>
      <a href="/work">Work Experience</a>
      <a href="/walkabout">ThreeJs Walkabout</a>
      <a href="/contact" class="right">Contact</a>
    </div>
    <slot />
    <div class="footer">
      <slot name="footer" />
    </div>
  </body>
</html>